<a href="https://colab.research.google.com/github/Bharathiviswa/day100/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Day 1 : STRINGS:**

In [ ]:
def least_difference(a, b, c):
    diff1 = abs(a - b)
    diff2 = abs(b - c)
    diff3 = abs(a - c)
    return (diff1, diff2, diff3)

In [ ]:
print(
    least_difference(1, 10, 100),
    least_difference(1, 10, 10),
    least_difference(5, 6, 7), # Python allows trailing commas in argument lists. How nice is that?
)

(9, 90, 99) (9, 0, 9) (1, 1, 2)

In [ ]:
if 1:
    print(0)
elif "spam":
    print("spam")

0

In [ ]:
r = ["Mario", "Bowser", "Luigi"]

In [ ]:
r[0] = r[2]
r[2] = r[0]

In [ ]:
r

['Luigi', 'Bowser', 'Luigi']

In [ ]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

In [ ]:
party_attendees[-3:-1]

['Mona', 'Gilbert']

In [ ]:
fl = party_attendees[-3:-1]

if party_attendees[0] in fl:
  print(True)
else:
  print(False)

False

In [ ]:
i = 10
while i < 15:
  print(i, end = ' ')
  i += 1

10 11 12 13 14

In [10]:
planets = ['Mercury','venus']

In [11]:
[22 for x in planets]

[22, 22]

In [12]:
['stupid' for x in planets]

['stupid', 'stupid']

In [15]:
def count_negatives(nums):
  nn = [n for n in nums if n < 0]
  print(nn)

In [16]:
count_negatives([5, -1, -2, 0, 3])

[-1, -2]

**Day 2 : Loop Exercises**

In [24]:
def has_lucky_number(nums):
    """Return whether the given list of numbers is lucky. A lucky list contains
    at least one number divisible by 7.
    """
    for num in nums:
        if num % 7 == 0:
            return True
        
    return False

In [25]:
has_lucky_number([4,1,6])

False

In [26]:
help(any)

Help on built-in function any in module builtins:

any(iterable, /)
    Return True if bool(x) is True for any x in the iterable.

    If the iterable is empty, return False.

In [29]:
def has_lucky_number(nums):
  return any([num for num in nums if num % 7 == 0])

In [30]:
has_lucky_number([4,1,6])

False

In [45]:
def elementwise_greater_than(L, thresh):
    """Return a list with the same length as L, where the value at index i is 
    True if L[i] is greater than thresh, and False otherwise.
    >>> elementwise_greater_than([1, 2, 3, 4], 2)
    [False, False, True, True]
    """
    nl = []
    for i in L:
      if i > thresh:
         nl.append(True)
      else:
        nl.append(False) 

    return nl

In [46]:
elementwise_greater_than([1, 2, 3, 4], 2)

[False, False, True, True]

In [62]:
from tkinter.constants import TRUE
def menu_is_boring(meals):
  n1 = []
  for n in range(len(meals)-1):
    if meals[n] == meals[n+1]:
      n1.append(False)
    else:
      n1.append(True)
  
  return n1

In [65]:
meals = ['idly', 'idly', 'dosa','idly']
menu_is_boring(meals)

[False, True, True]